/* Import the font file with the icons in it */
@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

// Each icon is created by inserting the corret character into the 
// content of the :before pseudo element. Like a boss.
.icon-ghost:before {
    content: "\e000";
}
.icon-feed:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-facebook:before {
    content: "\e004";
}

.poweredby.icon-ghost:before {
    font-size: 1rem;
    margin-right: 0.2em;
}

// .icon {
//     display:inline-block;
//     width:12px;
//     height:12px;
//     vertical-align:middle;
//     background-repeat:no-repeat;
// }
// 
// .icon-rss.black {
//     background-position:1px -11px;
// }
// 
// .icon-twitter.black {
//     background-position:1px -16px;
// }
// 
// .icon-facebook.black {
//     background-position:0px -14px;
// }
